h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

.menu li
{
		display:inline;
		color:black;
		margin: 5px;
}
.navigation {
		overflow: hidden;
		background: #789c83;
		color: #f1f1f1;
		position: fixed;
		width: 100%;
		height: 80px;
		display: table;
		top: 0;
}
body {
	margin: 0px;
	background-color: #9ea77bc4;
}

.contenu {
	margin-top: 80px;
	margin-right: 200px;
	margin-left: 200px;
	background-color: #b3d8b8;
	padding-left: 200px;
	padding-right: 200px;
}
.produit{
	margin: 0 auto;
	text-align:left;
}

.pied{
	text-align:center;
}

.produitPanier{
	margin: 0 auto;
}
tr, th {
	width: 150px;
	text-align:left;
}
.inversion{
	filter: invert(1);
}